html body{
    margin: 0px;
    padding: 0px;
}
body #map{
    height: 100%;
    width: 100%;
}
.description{
    background-color: rgba(168, 192, 185, 0.274);
    width: 40%;
    padding: 10px;
}
